{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

sudo pacman -S --needed --noconfirm \
  texlive-binextra \
  texlive-fontsextra \
  texlive-langjapanese \
  texlive-latexextra \
  texlive-luatex \
  texlive-mathscience \
  zathura
{{- end }}
